<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>VueJS Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div class="" id="vue-app">
    <p>
        <b>....................Data and Methods...........................</b>
    </p>
    <h1>
        {{greet('Nachmittag')}}
    </h1>
    <p>
        Name: {{name}}
    </p>
    <p>
        Job: {{job}}
    </p>
    <p>
        <b>....................Data Binding...........................</b>
    </p>
    <a :href="website">Dianne's Profile</a> <br><br>

    <input type="text" :value="name">

    <p v-html="websiteTag"></p>

    <p>
        <b>....................Events...........................</b>
    </p>

    <button @click.once="add(1)">Add a year</button>

    <button @click="subtract(1)">Subtract a year</button>

    <button @dblclick="add(10)">Add 10 years</button>

    <button @dblclick="subtract(10)">Subtract 10 years</button>
    <p>
        My age is {{age}}
    </p>

    <div id="canvas" v-on:mousemove="updateXY">
        {{x}}, {{y}}
    </div>

    <p>
        <b>....................Event Modifiers...........................</b>
    </p>

    <a @click.prevent="click" href="https://www.linkedin.com/in/dianah-amimo-4b8036107/">My LinkedIn Profile</a>

    <p>
        <b>....................Keyboard Events...........................</b>
    </p>
    <label for="name">Name</label>
    <input type="text" v-on:keyup.enter="logName">

    <label for="age">Age</label>
    <input type="text" v-on:keyup.alt.enter="logAge">

    <p>
        <b>....................Two Way Data Binding...........................</b>
    </p>

    <label>Name</label>
    <input type="text" v-model="name1">

    <span>{{name1}}</span>

    <label>Age</label>
    <input type="text" v-model="age1">

    <span>{{age1}}</span>

    <p>
        <b>....................Computed Properties...........................</b>
    </p>
    <h1>Computed Properties</h1>
    <button @click="a++">Add to A</button>
    <button @click="b++">Add to B</button>

    <p>A - {{a}}</p>

    <p>B - {{b}}</p>

    <p>Age + A = {{addToA}}</p>

    <p>Age + B = {{addToB}}</p>

    <p>
        <b>....................Dynamic CSS Classes...........................</b>
    </p>

    <h1>Dynamic CSS</h1>

    <h2>Example 1</h2>

    <div @click="available = !available" v-bind:class="{available: available}">
        <span>Dianne</span>
    </div>

    <h2>Example 2</h2>

    <button @click="nearby = !nearby">Toggle nearby</button>

    <button @click="available = !available">Toggle available</button>

    <div v-bind:class="compClasses">
        <span>Dianne</span>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
